.title
    .spinner &nbsp;&nbsp;
    span.delete(title="remove this feed and place its details on the new feed form")
        | x
    if model.title
        span.count
        span(title="#{model.title}", tags="#{model.tags}")
            a(href="#{model.url}") #{model.title}
    else
        span.count
        span(title="#{model.url}", tags="#{model.tags}")
            a(href="#{model.url}") #{model.url}
