.title
    button.icon-spin1.animate-spin &nbsp;
    if model.title
        span.count
        span(title="#{model.title}", tags="#{model.tags}")
            a(href="#{model.url}") #{model.title}
    else
        span.count
        span(title="#{model.url}", tags="#{model.tags}")
            a(href="#{model.url}") #{model.url}
    button.icon-delete(title="remove this feed and place its details on the new feed form")
        | X
