li(class="link #{from} #{state}")
    .buttons
        a(href="https://twitter.com/intent/tweet?text=#{encodedTitle}&url=#{url}", 
          target="_blank").to-tweeter.icon-twitter(title="send to tweeter")
        if toCozyBookMarks
            button.to-cozy-bookmarks.icon-bookmark-empty(title="send to cozy bookmarks")
        button.icon-more.icon-doc-text-inv(title="view description")
    a(href="#{url}", target="_blank") #{title}
    .description
        | !{description}
