li(class="link #{from} #{state}")
    .buttons
        a(href="https://twitter.com/intent/tweet?text=#{encodedTitle}&url=#{url}", 
          target="_blank")
            button.to-tweeter(title="send to tweeter")
                img(src="icons/tweet.png", alt="tweet")
        if toCozyBookMarks
            button.to-cozy-bookmarks(title="send to cozy bookmarks")
                img(src="icons/cozy-bookmarks.png", alt="bookmark")
        button.icon-more(title="view description")
            img(src="icons/more.png", alt="more")
    a(href="#{url}", target="_blank") #{title}
    .description
        | !{description}
