li(class="link #{from} #{state}")
    .buttons
        if toCozyBookMarks
            button.to-cozy-bookmarks(title="to cozy bookmarks")
                img(src="icons/cozy-bookmarks.png", alt="bookmark")
        button.icon-more(title="view description")
            img(src="icons/more.png", alt="more")
    a("href"="#{url}") #{title}
    .description
        | !{description}
